body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.filmes-container-main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.filmes {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  margin: 5px;
  padding: 15px;
  text-align: center;
}

.filmes img {
  width: 80%;
  border-radius: 5px;
  margin-bottom: 10px;
}
